<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PaCo Payment Solutions</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo200x200.png" />
  <script src="/js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap4.min.css">
  <script src="/js/bootstrap4.min.js"></script>
  <link href="/css/agency.css" rel="stylesheet">
  <link href="/css/fa4.all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alata|Signika&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/animate4.min.css">
  <script src="/js/wow4.min.js"></script>

</head>

<body id="page-top">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg fixed-top navbar-color" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Paco</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#summary">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#innovation">Innovation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#featurephones">Feature Phones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#onboarding">On-Boarding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <!-- Header -->
  <header class="masthead" id="mastheadbanner">
    <div class="container-fluid ">
      <div class="row">
        <div class="col-sm-6 banner-left-col">
          <div style="display: table-cell;  vertical-align: middle;">
            <img src="/images/logo/logo200x200.png" class="banner-img-logo">
            <h1 style="color: white; font-size: 5em;text-shadow: 1px 1px 0px #777;">PaCo</h1>
            <h4 style="color: white; font-size: 1.8em; font-style: italic; text-shadow: 1px 1px 0px #777;">Payments made simple.</h4>
            <br>  
            <a href="#summary"><div class="btn"><span>Explore</span></div></a>
          </div>
        </div>
        <div class="col-sm-6 parallax-scroll">
          <!-- <img src="/images/nokiaRENDER1.png" class="banner-img-nokia">
          <img src="/images/iphoneRENDER1.png" class="banner-img-iphone"> -->
        </div>
      </div>
    </div>
  </header>

  <!-- Summary -->
  <section class="page-section" id="summary">
    <div class="container summary text-muted" >
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h3 class="wow fadeIn">Paco aims at providing a zero end-user cost method of mobile payments that focuses on the inclusivity of low-income, illiterate, and unbanked population in India and allows its users to transact securely in any terrain with access to a cell phone signal. </h3>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </section>

  <section class="bg-light page-section" id="innovation">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Market cap</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>-
      </div>
      <div class="row">
        <div class="col-sm-6" style="text-align: center;" >
          <img src="/images/Indiamap.png" class="indiamap wow slideInUp">
        </div>
        <div class="col-sm-6">
          <div class="indiamaptext text-muted" >
            <div class="indiamaptext-verticalcenter wow slideInRight font-alata">
              Although, the digital India campaign seems to be a success on the surface, yet 55% of India's general population has no access to internet. A major chunk of this population are people with low income living in rural areas. 
            </div>
          </div>
          <div class="indiamaptext text-muted" >
            <div class="indiamaptext-verticalcenter wow slideInRight font-alata">
              Banking has always been a challenge for the illiterate, let alone Internet Banking. In the absence of banks, they have to rely on hard cash to cater to their daily needs and rampant misinformation increases the distrust towards new technologies.   
            </div>
          </div>
        </div>  
      </div>
    </div>
    
  </section>
  


  <!-- <section class="bg-light page-section" id="portfolio"> -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Why This?</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/team/1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>H1</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/team/1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>H2</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/images/team/1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>H3</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">The innovation Paco instills</h2>
          <h3 class="section-subheading text-muted">So what do we have in store for you?</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x wow zoomIn">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading font-signika wow slideInUp">Inclusivity</h4>
          <p class="text-muted font-alata wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x wow zoomIn">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading font-signika wow slideInUp">Zero end-user cost</h4>
          <p class="text-muted font-alata wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x wow zoomIn">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading font-signika wow slideInUp">Seamless interface</h4>
          <p class="text-muted font-alata wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div> -->
  <!-- </section> -->


  <section class="bg-light page-section" id="featurephones">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">The innovation Paco instills</h2>
          <h3 class="section-subheading text-muted">So what do we have in store for you?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/innovation/inclusion.png" alt="">
            <div class="wow slideInUp">
            <h4>Inclusivity</h4>
            <p class="text-muted">We aim to bring the rural population on our platform. Just a feature phone and cell signal is enough to bring you on board.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/innovation/zero cost.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Zero end user cost</h4>
            <p class="text-muted">Paco provides a zero cost method to transact so you don't have to worry about top ups or internet recharges.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/innovation/interface-seamless.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Seamless interface</h4>
            <p class="text-muted">Our seamless interface makes it easier for the uninitiated to be able to transact and build trust towards new technologies.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FEATURE PHONES -->
  <section class="page-section featurephones" id="featurephones">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Transact with Feature Phones</h2>
          <h3 class="section-subheading text-muted">Yup, you read it right!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center text-muted featurephones-text font-alata wow fadeIn">
          <p>
            <!-- Just one google search is all takes to see the hundreds of online payments solutions that are available for the Indian population. --> With the inception of UPI, almost every bank in India allows the users to transact seamlessly through mobile apps. Not just banks, there are other conglomerates like GPay, Amazon Pay, PayTm that allow UPI transaction on their platforms. However, none of these cater to the non-financially literate population which either doesn't posses the adequate know how to use these apps or don't even have access to smart phones. 
          </p>
          <p>
            Paco aims to bring mobile payments to such people. We boast simplicity. With our easy to use feature phone app, everyone is connected to the payments ecosystem enabling trasanctions from and to anyone. 
          </p>
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </section>






  <!-- About -->
  <section class="page-section" id="onboarding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">On-boarding process</h2>
          <h3 class="section-subheading text-muted">The seamless interface we promised you.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <span class="timeline-image fa-stack fa-5x wow zoomIn">
                <i class="fas fa-mobile fa-1x fa-inverse"></i>
              </span>
              <!-- <div class="timeline-image wow zoomIn" style="text-align: center;">
                <img class="rounded-circle img-fluid" src="images/about/1.jpg" alt="">
                <span class="fa-stack img-fluid">
                <i class="fa fa-mobile fa-4x fa-inverse" aria-hidden="true"></i>
                </span> 
              </div> -->
              <div class="timeline-panel">
                <div class="timeline-heading wow slideInLeft font-signika">
                  <h4>Install the app</h4>
                </div>
                <div class="timeline-body wow slideInLeft font-alata">
                  <p class="text-muted">Get it from the KaiOS store or Play store. We are sure you'll fall in love with it!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <span class="timeline-image fa-stack fa-5x wow zoomIn">
                <i class="fas fa-phone fa-1x fa-inverse fa-rotate-180 fa-flip-horizontal"></i>
              </span>
              <!-- <div class="timeline-image wow zoomIn">
                <img class="rounded-circle img-fluid" src="images/about/2.jpg" alt="">
              </div> -->
              <div class="timeline-panel">
                <div class="timeline-heading wow slideInRight font-signika">
                  <h4>Give us a call</h4>
                </div>
                <div class="timeline-body wow slideInRight font-alata">
                  <p class="text-muted">Choose the language you like! Our automated voice response system will guide you to enter the details on call in your language. You can enter your details directly on app as well. </p>
                </div>
              </div>
            </li>
            
            <li>
              <div class="timeline-image wow zoomIn font-signika">
                <h4>You
                  <br>are ready
                  <br>to go!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light page-section banks" id="banks">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Transact without bank accounts</h2>
          <h3 class="section-subheading text-muted">You can do it, but there's a catch.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center text-muted banks-text font-alata wow fadeIn">
          <p>
          Imagine a situtaion where a member of a rural family goes to work in a city to earn money. However, He/She can't send the hard earned money back to his family just because no one in the family has a bank account. And without a bank account, online payments are a far fetched dream.  
          </p>
          <p>
            Paco aims to bridge this gap by allowing small amounts to be transferred even without the need of a bank account. You can use the money received in your Paco wallet for day to day transactions or get it converted to hard cash at your nearest mobile top-up or recharge shop.
          </p>
        </div>
        <div class="col-sm-1"></div>
      </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted">Paco had some work. So you're stuck with us.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/rajat.jpeg" alt="">
            <div class="wow slideInUp">
            <h4>Rajat Jain</h4>
            <p class="text-muted">The AI guy. Knows nothing. Does nothing. Just there with bat powers</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rajatjain97">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/mrigesh.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Mrigesh Madaan</h4>
            <p class="text-muted">Crazy Back-End dude, with Iron-Man suits that Tony Stark trashed even before Mark 1.</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/mrigesh-madaan">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/saketh.jpeg" alt="">
            <div class="wow slideInUp">
            <h4>Saketh Ginuga</h4>
            <p class="text-muted">The improvisor. *Codes everything silently in the corner, but nothing works*. Lazy to the core.</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/saketh-ginuga">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Mentors -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Our Mentors</h2>
          <h3 class="section-subheading text-muted">Because who are we without our mentors.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/mentors/krishan.jpeg" alt="">
            <div class="wow slideInUp">
            <h4>Krishan Gopal Jain</h4>
            <p class="text-muted">National Credit Head, ICICI Bank</p>
            </div>
            <!-- <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rajatjain97">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/mentors/Nagarjuna-G.jpg" alt="">
            <div class="wow slideInUp">
            <h4>G Nagarjuna</h4>
            <p class="text-muted">Chairman, Free Software Foundation, India</p>
            </div>
            <!-- <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/mrigesh-madaan">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/mentors/priyom.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Priyom Sarkar</h4>
            <p class="text-muted">AVP & Head - Growth and Innovation, International Sales | Digital Ventures, Viacom18</p>
            </div>
            <!-- <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/saketh-ginuga">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="awards">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Awards won by the team?</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/envato.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Paco 2019</span>
        </div>
        <div class="col-md-4">
          <!-- <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul> -->
        </div>
        <div class="col-md-4">
          <!-- <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul> -->
          Contact: bitsiandevelopers@gmail.com
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/agency.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>
