<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PaCo Payment Solutions</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo/logo200x200.png" />
  <script src="/js/jquery-3.4.1.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap4.min.css">
  <script src="/js/bootstrap4.min.js"></script>
  <link href="/css/agency.css" rel="stylesheet">
  <link href="/css/fa4.all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alata|Signika&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/animate4.min.css">
  <script src="/js/wow4.min.js"></script>

</head>

<body id="page-top">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg fixed-top navbar-color" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">PaCo</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#summary">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
 
  <!-- Header -->
  <header class="masthead" id="mastheadbanner">
    <div class="container-fluid ">
      <div class="row" style="">
        <div class="col-sm-6 banner-left-col">
          <div style="display: table-cell;  vertical-align: middle;">
            <img src="/images/logo/logo200x200.png" class="banner-img-logo">
            <h1 style="color: white; font-size: 5em;text-shadow: 1px 1px 0px #777;">PaCo</h1>
            <h4 style="color: white; font-size: 1.8em; font-style: italic; text-shadow: 1px 1px 0px #777;">Payments made simple.</h4>
            <br>  
            <a href="#summary"><div class="btn"><span>Explore</span></div></a>
          </div>
        </div>
        <div class="col-sm-6 parallax-scroll">
          <!-- <img src="/images/nokiaRENDER1.png" class="banner-img-nokia">
          <img src="/images/iphoneRENDER1.png" class="banner-img-iphone"> -->
        </div>
      </div>
    </div>
  </header>

  <!-- Services -->
  <section class="page-section" id="summary">
    <div class="container summary text-muted" >
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h3 class="wow fadeIn">Paco aims at providing a zero end-user cost method of mobile payments that focuses on the inclusivity of low-income, illiterate, and unbanked population in India and allows its users to transact securely in any terrain with access to a cell phone signal. </h3>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>

    <!--  -->
  </section>


  <!-- FEATURE PHONES -->
  <section class="page-section featurephones" id="featurephones">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Yes... Feature Phones!</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center text-muted featurephones-text font-alata wow fadeIn">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </section>


  <section class="bg-light page-section" id="portfolio">
    <!-- <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Why This?</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/team/1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>H1</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="images/team/1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>H2</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="/images/team/1.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>H3</h4>
            <p class="text-muted">Illustration</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Why This?</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x wow zooIn">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading font-signika wow slideInUp">H1111</h4>
          <p class="text-muted font-alata wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x wow zooIn">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading font-signika wow slideInUp">H222222</h4>
          <p class="text-muted font-alata wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x wow zooIn">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading font-signika wow slideInUp">H33333</h4>
          <p class="text-muted font-alata wow slideInUp">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio Grid -->
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Market cap</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>-
      </div>
      <div class="row">
        <div class="col-sm-8" style="text-align: center;" >
          <img src="/images/Indiamap.png" class="indiamap wow slideInUp">
        </div>
        <div class="col-sm-4">
          <div class="indiamaptext text-muted" >
            <div class="indiamaptext-verticalcenter wow slideInRight font-alata">
            55% Untapped. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </div>
          </div>
          <div class="indiamaptext text-muted" >
            <div class="indiamaptext-verticalcenter wow slideInRight font-alata">
            45% tapped. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </div>
          </div>
        </div>  
      </div>
    </div>
    
  </section>




  






  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">On-boarding process</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image wow zoomIn">
                <!-- <img class="rounded-circle img-fluid" src="images/about/1.jpg" alt=""> -->
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading wow slideInLeft font-signika">
                  <h4>Headin 1</h4>
                  <h4 class="subheading">Heading 1 subtext</h4>
                </div>
                <div class="timeline-body wow slideInLeft font-alata">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image wow zoomIn">
                <!-- <img class="rounded-circle img-fluid" src="images/about/2.jpg" alt=""> -->
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading wow slideInRight font-signika">
                  <h4>Heading 2</h4>
                  <h4 class="subheading">Heading 2 subtext</h4>
                </div>
                <div class="timeline-body wow slideInRight font-alata">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            
            <li>
              <div class="timeline-image wow zoomIn font-signika">
                <h4>Be Part
                  <br>Of Our
                  <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light page-section banks" id="banks">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Ugh... without bank accounts?</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center text-muted banks-text font-alata wow fadeIn">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div class="col-sm-2"></div>
      </div>
  </section>

  <!-- Team -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/rajat.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Rajat Jain</h4>
            <p class="text-muted">The AI guy. Knows nothing. Does nothing. Just there with bat powers</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rajatjain97">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/mrigesh.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Mrigesh Madaan</h4>
            <p class="text-muted">Crazy Back-End dude, with Iron-Man suits that Tony Stark trashed even before Mark 1.</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/mrigesh-madaan">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/saketh.jpeg" alt="">
            <div class="wow slideInUp">
            <h4>Saketh Ginuga</h4>
            <p class="text-muted">The improvisor. *Codes everything silently in the corner, but nothing works*. Lazy to the core.</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/saketh-ginuga">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Mentors -->
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Our Mentors</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/rajat.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Rajat Jain</h4>
            <p class="text-muted">The AI guy. Knows nothing. Does nothing. Just there with bat powers</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/rajatjain97">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/mrigesh.jpg" alt="">
            <div class="wow slideInUp">
            <h4>Mrigesh Madaan</h4>
            <p class="text-muted">Crazy Back-End dude, with Iron-Man suits that Tony Stark trashed even before Mark 1.</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/mrigesh-madaan">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member font-signika">
            <img class="mx-auto rounded-circle wow zoomIn" src="images/team/saketh.jpeg" alt="">
            <div class="wow slideInUp">
            <h4>Saketh Ginuga</h4>
            <p class="text-muted">The improvisor. *Codes everything silently in the corner, but nothing works*. Lazy to the core.</p>
            </div>
            <ul class="list-inline social-buttons wow slideInUp">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/saketh-ginuga">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="awards">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase font-signika">Awards won by the team?</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/envato.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/designmodo.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/themeforest.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="#">
            <img class="img-fluid d-block mx-auto" src="images/logos/creative-market.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Your Website 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/agency.min.js"></script>
  <script>
    new WOW().init();
  </script>
</body>

</html>
